__pycache__/
*.pyc
*.pyo

outputs/
temp/
scratch/

.env
.venv/
.ipynb_checkpoints/

*.gpkg
*.gdb
*.mdb
*.accdb
*.laccdb
*.lock

*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx

Thumbs.db
Desktop.ini

.vscode/*
!.vscode/settings.json
